<h1>Editando Personal Whish List</h1>

<%= render 'form', personal_whish_list: @personal_whish_list %>

<%= link_to 'Ver', @personal_whish_list %> |
<%= link_to 'Voltar', personal_whish_lists_path %>
