<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @personal_whish_list.name %>
</p>

<%= link_to 'Edit', edit_personal_whish_list_path(@personal_whish_list) %> |
<%= link_to 'Back', personal_whish_lists_path %>
